<div class="jumbotron">
    <h2>PIBIT Mackenzie</h2>
    <p class="lead">PROTÓTIPO DE APL. PARA O APRENDIZADO E PREP. DE ALUNOS PARA O ENADE EM RELAÇÃO AOS CONCEITOS DE ESTRUTURA DE DADOS E ALGORITMOS</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Instituição</h2>
        <p>Faculdade de Computação e Informática - Universidade Presbiteriana Mackenzie</p>
    </div>
    <div class="col-md-4">
        <h2>IT</h2>
        <p>Lucas Rezende Tedeschi - 41406133</p>
    </div>
    <div class="col-md-4">
        <h2>Orientador</h2>
        <p>Solange Duarte Palma de Sá Barros</p>
    </div>
</div>
